In [1]:
# !pip install pandas_datareader

In [2]:
import pandas as pd
import pandas_datareader as web 
from datetime import datetime 

import requests
import json
import re
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()

In [3]:
# Citizens Financial Group, Inc. (CFG)
cfg_data = (web.get_data_yahoo(symbols=['cfg'], 
                            start=datetime(2014,7,18),
                            end=datetime(2019,7,31))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [4]:
#  adding company column
cfg_data = cfg_data.rename(columns={"Adj Close": 'Adj_Close'})
cfg_data ['Company_name']= 'Citizens Financial Group'

In [5]:
# Morgan Stanley (MS)
ms_data = (web.get_data_yahoo(symbols=['ms'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,31))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [6]:
ms_data = ms_data.rename(columns={"Adj Close": 'Adj_Close'})
#  adding company column
ms_data ['Company_name']= 'Morgan Stanley'

In [7]:
# CME Group Inc. (CME)
cme_data = (web.get_data_yahoo(symbols=['cme'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,31))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [8]:
cme_data = cme_data.rename(columns={"Adj Close": 'Adj_Close'})
#  adding company column
cme_data ['Company_name']= 'CME Group Inc.'

In [9]:
# JPMorgan Chase & Co. (JPM)
jpm_data = (web.get_data_yahoo(symbols=['jpm'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,31))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [10]:
jpm_data = jpm_data.rename(columns={"Adj Close": 'Adj_Close'})
#  adding company column
jpm_data ['Company_name']= 'JPMorgan Chase & Co.'

In [54]:
# The Goldman Sachs Group, Inc. (GS)
gs_data = (web.get_data_yahoo(symbols=['gs'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,31))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [55]:
gs_data = gs_data.rename(columns={"Adj Close": 'Adj_Close'})
#  adding company column
gs_data ['Company_name']= 'The Goldman Sachs Group, Inc.'

In [13]:
# PayPal Holdings, Inc. (PYPL)
pypl_data = (web.get_data_yahoo(symbols=['pypl'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,31))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [14]:
pypl_data = pypl_data.rename(columns={"Adj Close": 'Adj_Close'})
#  adding company column
pypl_data ['Company_name']= 'PayPal Holdings, Inc.'

In [15]:
# The Toronto-Dominion Bank (TD)
td_data = (web.get_data_yahoo(symbols=['td'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,31))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [16]:
td_data = td_data.rename(columns={"Adj Close": 'Adj_Close'})
#  adding company column
td_data ['Company_name']= 'The Toronto-Dominion Bank'

In [17]:
# Bank of Montreal (BMO)
bmo_data = (web.get_data_yahoo(symbols=['bmo'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,31))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [18]:
bmo_data = bmo_data.rename(columns={"Adj Close": 'Adj_Close'})
#  adding company column
bmo_data ['Company_name']= 'Bank of Montreal'

In [19]:
# The Bank of Nova Scotia (BNS)
bns_data = (web.get_data_yahoo(symbols=['bns'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,31))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [20]:
bns_data = bns_data.rename(columns={"Adj Close": 'Adj_Close'})
#  adding company column
bns_data ['Company_name']= 'The Bank of Nova Scotia'

In [21]:
# # Berkshire Hathaway Inc. (BRK-A)
# brk_data = (web.get_data_yahoo(symbols=['brk-a'], 
#                             start=datetime(2014,7,14),
#                             end=datetime(2019,7,31))
#                             .stack(level=1, dropna=False)
#                             .reset_index(level=[0,1], drop=False))

In [22]:
# #  adding company column
# brk_data ['Company_name']= 'Berkshire Hathaway Inc.'

In [23]:
# U.S. Bancorp (USB)
usb_data = (web.get_data_yahoo(symbols=['usb'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,31))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [24]:
usb_data = usb_data.rename(columns={"Adj Close": 'Adj_Close'})
#  adding company column
usb_data ['Company_name']= 'U.S. Bancorp'

In [25]:
# # Interactive Brokers Group, Inc. (IBKR)
# ibkr_data = (web.get_data_yahoo(symbols=['ibkr'], 
#                             start=datetime(2014,7,14),
#                             end=datetime(2019,7,31))
#                             .stack(level=1, dropna=False)
#                             .reset_index(level=[0,1], drop=False))

In [26]:
# #  adding company column
# ibkr_data ['Company_name']= 'Interactive Brokers Group, Inc.'

In [27]:
# American Express Company (AXP)
axp_data = (web.get_data_yahoo(symbols=['axp'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,31))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [28]:
axp_data = axp_data.rename(columns={"Adj Close": 'Adj_Close'})
#  adding company column
axp_data ['Company_name']= 'American Express Company'

In [29]:
# tech_data = (web.get_data_yahoo(symbols=['AAPL','AMZN','MSFT','fb','ibm','googl','nflx','tsla','uber','nvda'], 
#                             start=datetime(2014,7,14),
#                             end=datetime(2019,7,31))
#                             .stack(level=1, dropna=False)
#                             .reset_index(level=[0,1], drop=False))

In [30]:
# S&P 500 (^GSPC)
spx_data = (web.get_data_yahoo(symbols=['^GSPC'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,31))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [31]:
spx_data = spx_data.rename(columns={"Adj Close": 'Adj_Close'})
#  adding company column
spx_data ['Company_name']= 'S&P 500'

In [32]:
# Dow Jones Industrial Average (^DJI)
dow_data = (web.get_data_yahoo(symbols=['^DJI'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,31))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [33]:
dow_data = dow_data.rename(columns={"Adj Close": 'Adj_Close'})
#  adding company column
dow_data ['Company_name']= 'Dow Jones Industrial Average'

In [34]:
# NASDAQ Composite (^IXIC)
nasdaq_data = (web.get_data_yahoo(symbols=['^IXIC'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,31))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [35]:
nasdaq_data = nasdaq_data.rename(columns={"Adj Close": 'Adj_Close'})
#  adding company column
nasdaq_data ['Company_name']= 'NASDAQ'

In [36]:
# CBOE Volatility Index (^VIX)
vix_data = (web.get_data_yahoo(symbols=['^VIX'], 
                            start=datetime(2014,7,14),
                            end=datetime(2019,7,31))
                            .stack(level=1, dropna=False)
                            .reset_index(level=[0,1], drop=False))

In [37]:
vix_data = vix_data.rename(columns={"Adj Close": 'Adj_Close'})
#  adding company column
vix_data ['Company_name']= 'CBOE Volatility Index'

In [38]:
vix_data.tail()

Attributes,Date,Symbols,High,Low,Open,Close,Volume,Adj_Close,Company_name
1267,2019-07-25,^VIX,13.540000,11.69,12.24,12.74,0,12.74,CBOE Volatility Index
1268,2019-07-26,^VIX,12.720000,12.01,12.58,12.16,0,12.16,CBOE Volatility Index
1269,2019-07-29,^VIX,13.170000,12.15,12.15,12.83,0,12.83,CBOE Volatility Index
1270,2019-07-30,^VIX,14.180000,12.87,12.87,13.94,0,13.94,CBOE Volatility Index
1271,2019-07-31,^VIX,16.549999,13.46,13.83,14.55,0,14.55,CBOE Volatility Index

### Concating the dataframe to eventually make a final dataframe

In [39]:
df_final = pd.concat([cfg_data,ms_data,cme_data,jpm_data,gs_data,pypl_data,td_data,bmo_data,bns_data,usb_data,axp_data,spx_data,dow_data,nasdaq_data,vix_data]).drop_duplicates()
df_final.head()

Attributes,Date,Symbols,High,Low,Open,Close,Volume,Adj_Close,Company_name
0,2014-09-24,cfg,23.219999,21.350000,21.500000,23.080000,60450900.0,20.681087,Citizens Financial Group
1,2014-09-25,cfg,23.410000,22.450001,22.559999,23.049999,8430000.0,20.654205,Citizens Financial Group
2,2014-09-26,cfg,23.370001,22.910000,23.180000,23.250000,2504400.0,20.833418,Citizens Financial Group
3,2014-09-29,cfg,23.450001,22.910000,23.139999,23.230000,4832600.0,20.815495,Citizens Financial Group
4,2014-09-30,cfg,23.570000,23.049999,23.110001,23.420000,4103100.0,20.985752,Citizens Financial Group

In [40]:
# Sorting values of dates in decending order
df_sort = df_final.sort_values(['Date'], ascending=[False])
# to do reset index
df_stock = df_sort.reset_index()
df_stock.head(10)

Attributes,index,Date,Symbols,High,Low,Open,Close,Volume,Adj_Close,Company_name
0,1271,2019-07-31,^VIX,16.549999,13.460000,13.830000,14.550000,0.000000e+00,14.550000,CBOE Volatility Index
1,1271,2019-07-31,axp,126.580002,123.620003,126.529999,124.940002,2.164591e+06,124.940002,American Express Company
2,1271,2019-07-31,td,58.779999,57.930000,58.419998,58.320000,8.523080e+05,58.320000,The Toronto-Dominion Bank
3,1271,2019-07-31,gs,221.949997,219.009995,221.240005,220.699997,1.283703e+06,220.699997,"The Goldman Sachs Group, Inc."
4,1271,2019-07-31,bmo,75.219002,74.339996,75.010002,74.769997,3.127980e+05,74.769997,Bank of Montreal
5,1271,2019-07-31,jpm,116.129997,114.864998,116.099998,116.004997,9.358769e+06,116.004997,JPMorgan Chase & Co.
6,1271,2019-07-31,bns,53.825001,53.080002,53.619999,53.389999,5.139570e+05,53.389999,The Bank of Nova Scotia
7,1271,2019-07-31,^IXIC,8299.827148,8110.020508,8290.795898,8217.881836,1.793572e+09,8217.881836,NASDAQ
8,1271,2019-07-31,cme,195.979996,193.089996,194.660004,195.717300,1.514074e+06,195.717300,CME Group Inc.
9,1271,2019-07-31,usb,57.810001,57.009998,57.330002,57.439999,4.403131e+06,57.439999,U.S. Bancorp

In [41]:
df_stock = df_stock.rename(columns={"Adj Close": 'Adj_Close'})

df_stock.head()

Attributes,index,Date,Symbols,High,Low,Open,Close,Volume,Adj_Close,Company_name
0,1271,2019-07-31,^VIX,16.549999,13.460000,13.830000,14.550000,0.0,14.550000,CBOE Volatility Index
1,1271,2019-07-31,axp,126.580002,123.620003,126.529999,124.940002,2164591.0,124.940002,American Express Company
2,1271,2019-07-31,td,58.779999,57.930000,58.419998,58.320000,852308.0,58.320000,The Toronto-Dominion Bank
3,1271,2019-07-31,gs,221.949997,219.009995,221.240005,220.699997,1283703.0,220.699997,"The Goldman Sachs Group, Inc."
4,1271,2019-07-31,bmo,75.219002,74.339996,75.010002,74.769997,312798.0,74.769997,Bank of Montreal

In [42]:
df_stock = df_stock[["Date", "Symbols", "High", "Low", "Open", "Close", "Volume", "Adj_Close", "Company_name"]].copy()
df_stock.head(10)

Attributes,Date,Symbols,High,Low,Open,Close,Volume,Adj_Close,Company_name
0,2019-07-31,^VIX,16.549999,13.460000,13.830000,14.550000,0.000000e+00,14.550000,CBOE Volatility Index
1,2019-07-31,axp,126.580002,123.620003,126.529999,124.940002,2.164591e+06,124.940002,American Express Company
2,2019-07-31,td,58.779999,57.930000,58.419998,58.320000,8.523080e+05,58.320000,The Toronto-Dominion Bank
3,2019-07-31,gs,221.949997,219.009995,221.240005,220.699997,1.283703e+06,220.699997,"The Goldman Sachs Group, Inc."
4,2019-07-31,bmo,75.219002,74.339996,75.010002,74.769997,3.127980e+05,74.769997,Bank of Montreal
5,2019-07-31,jpm,116.129997,114.864998,116.099998,116.004997,9.358769e+06,116.004997,JPMorgan Chase & Co.
6,2019-07-31,bns,53.825001,53.080002,53.619999,53.389999,5.139570e+05,53.389999,The Bank of Nova Scotia
7,2019-07-31,^IXIC,8299.827148,8110.020508,8290.795898,8217.881836,1.793572e+09,8217.881836,NASDAQ
8,2019-07-31,cme,195.979996,193.089996,194.660004,195.717300,1.514074e+06,195.717300,CME Group Inc.
9,2019-07-31,usb,57.810001,57.009998,57.330002,57.439999,4.403131e+06,57.439999,U.S. Bancorp

In [43]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stock_data')

In [44]:
df_stock.to_sql(name='stocks_profile', con=engine, if_exists = 'replace',index=False)

#pd.read_sql_query('select * from stocks_profile', con=engine).head()

In [45]:
pd.read_sql_query('select * from stocks_profile', con=engine).head()

,Date,Symbols,High,Low,Open,Close,Volume,Adj_Close,Company_name
0,2019-07-31,^VIX,16.549999,13.460000,13.830000,14.550000,0.0,14.550000,CBOE Volatility Index
1,2019-07-31,axp,126.580002,123.620003,126.529999,124.940002,2164591.0,124.940002,American Express Company
2,2019-07-31,td,58.779999,57.930000,58.419998,58.320000,852308.0,58.320000,The Toronto-Dominion Bank
3,2019-07-31,gs,221.949997,219.009995,221.240005,220.699997,1283703.0,220.699997,"The Goldman Sachs Group, Inc."
4,2019-07-31,bmo,75.219002,74.339996,75.010002,74.769997,312798.0,74.769997,Bank of Montreal

### Save to csv and json file

In [47]:
cfg_data.to_csv (r'assets/csv/cfg_data.csv')
ms_data.to_csv (r'assets/csv/ms_data.csv')
cme_data.to_csv (r'assets/csv/cme_data.csv')
jpm_data.to_csv (r'assets/csv/jpm_data.csv')
gs_data.to_csv (r'assets/csv/gs_data.csv')
pypl_data.to_csv (r'assets/csv/pypl_data.csv')
td_data.to_csv (r'assets/csv/td_data.csv')
bmo_data.to_csv (r'assets/csv/bmo_data.csv')
# brk_data.to_csv (r'assets/csv/brk_data.csv')
usb_data.to_csv (r'assets/csv/usb_data.csv')
# ibkr_data.to_csv (r'assets/csv/ibkr_data.csv')
axp_data.to_csv (r'assets/csv/axp_data.csv')
# tech_data.to_csv (r'assets/csv/tech_data.csv')
spx_data.to_csv (r'assets/csv/spx_data.csv')
dow_data.to_csv (r'assets/csv/dow_data.csv')
nasdaq_data.to_csv (r'assets/csv/nasdaq_data.csv')
vix_data.to_csv (r'assets/csv/vix_data.csv')

In [48]:
cfg_data.to_json (r'assets/json/cfg_data.json')
ms_data.to_json (r'assets/json/ms_data.json')
cme_data.to_json (r'assets/json/cme_data.json')
jpm_data.to_json (r'assets/json/jpm_data.json')
gs_data.to_json (r'assets/json/gs_data.json')
pypl_data.to_json (r'assets/json/pypl_data.json')
td_data.to_json (r'assets/json/td_data.json')
bmo_data.to_json (r'assets/json/bmo_data.json')
bns_data.to_json (r'assets/json/bns_data.json')
# brk_data.to_json (r'assets/json/brk_data.json')
usb_data.to_json (r'assets/json/usb_data.json')
# ibkr_data.to_json (r'assets/json/ibkr_data.json')
axp_data.to_json (r'assets/json/axp_data.json')
# tech_data.to_json (r'assets/json/tech_data.json')
spx_data.to_json (r'assets/json/spx_data.json')
dow_data.to_json (r'assets/json/tech_data.json')
nasdaq_data.to_json (r'assets/json/nasdaq_data.json')
vix_data.to_json (r'assets/json/vix_data.json')

### Loading into Database Mysql

In [49]:
engine = create_engine('mysql+mysqlconnector://root:root123@127.0.0.1:3306/stock_data')

In [57]:
# cfg_data.to_sql(name='cfg_data', con=engine, if_exists = 'replace', index=False)
# ms_data.to_sql(name='ms_data', con=engine, if_exists = 'replace', index=False)
# cme_data.to_sql(name='cme_data', con=engine, if_exists = 'replace', index=False)
# jpm_data.to_sql(name='jpm_data', con=engine, if_exists = 'replace', index=False)
gs_data.to_sql(name='gs_data', con=engine, if_exists = 'replace', index=False)
# pypl_data.to_sql(name='pypl_data', con=engine, if_exists = 'replace', index=False)
# td_data.to_sql(name='td_data', con=engine, if_exists = 'replace', index=False)
# bmo_data.to_sql(name='bmo_data', con=engine, if_exists = 'replace', index=False)
# bns_data.to_sql(name='bns_data', con=engine, if_exists = 'replace', index=False) 
# # brk_data.to_sql(name='brk_data', con=engine, if_exists = 'replace', index=False)
# usb_data.to_sql(name='usb_data', con=engine, if_exists = 'replace', index=False)
# # ibkr_data.to_sql(name='ibkr_data', con=engine, if_exists = 'replace', index=False)
# axp_data.to_sql(name='axp_data', con=engine, if_exists = 'replace', index=False)
# # tech_data.to_sql(name='tech_data', con=engine, if_exists = 'replace', index=False)
# spx_data.to_sql(name='spx_data', con=engine, if_exists = 'replace', index=False)
# dow_data.to_sql(name='dow_data', con=engine, if_exists = 'replace', index=False)
# nasdaq_data.to_sql(name='nasdaq_data', con=engine, if_exists = 'replace', index=False)
# vix_data.to_sql(name='vix_data', con=engine, if_exists = 'replace', index=False)

In [58]:
pd.read_sql_query('select * from nasdaq_data', con=engine).tail()

,Date,Symbols,High,Low,Open,Close,Volume,Adj_Close,Company_name
1267,2019-07-25,^IXIC,8295.950195,8233.400391,8294.679688,8238.540039,2023130000,8238.540039,NASDAQ
1268,2019-07-26,^IXIC,8339.639648,8291.120117,8294.299805,8330.209961,1954350000,8330.209961,NASDAQ
1269,2019-07-29,^IXIC,8325.280273,8247.370117,8325.099609,8293.330078,1874780000,8293.330078,NASDAQ
1270,2019-07-30,^IXIC,8295.459961,8228.019531,8231.769531,8273.610352,1884300000,8273.610352,NASDAQ
1271,2019-07-31,^IXIC,8299.827148,8110.020508,8290.795898,8217.881836,1793572396,8217.881836,NASDAQ

In [59]:
pd.read_sql_query('select * from gs_data', con=engine).tail()

,Date,Symbols,High,Low,Open,Close,Volume,Adj_Close,Company_name
1267,2019-07-25,gs,221.770004,218.229996,221.770004,219.979996,2776700.0,219.979996,"The Goldman Sachs Group, Inc."
1268,2019-07-26,gs,222.240005,220.369995,220.449997,222.139999,2304500.0,222.139999,"The Goldman Sachs Group, Inc."
1269,2019-07-29,gs,222.130005,220.199997,221.000000,220.320007,1372800.0,220.320007,"The Goldman Sachs Group, Inc."
1270,2019-07-30,gs,221.990005,217.330002,218.490005,221.399994,1629200.0,221.399994,"The Goldman Sachs Group, Inc."
1271,2019-07-31,gs,221.949997,219.009995,221.240005,220.229996,1736560.0,220.229996,"The Goldman Sachs Group, Inc."